<div class="mt-2 mb-2" id="post-list" >
  <% if @group.posts.present? %>
    <% @group.posts.each do |post| %>
      <% if post.group_id.present? %>
        <div class="card mb-2 shadow" style="min-height: 320px;">
          <div class="card-body">
            <div class="container">
              <div class="row post-info">
                <div class="col-md-1 col-12 mb-2 d-grid post-user-image">
                  <%= link_to member_path(post.user), style: "text-decoration:none;" do %>
                    <% if post.user.image.attached? %>
                      <%= image_tag post.user.image, class: "user-image border border-1 rounded-circle" %>
                    <% else %> 
                      <%= image_tag 'human.avif', class: "user-image border border-1 rounded-circle" %>
                    <% end %>
                  <% end %>
                </div>
                <div class="col-md-8 col-12 mt-2 mb-3 px-5 d-grid post-user-details">
                  <%= link_to member_path(post.user), style: "text-decoration:none;" do %>
                    <h5 class="text-dark post-user-name"><%= post.user.name %></h5>
                    <small class="text-muted post-user-title"><%= truncate(post.user.profile_title, length: 25) %></small><br>
                    <small class="text-muted post-time-ago">Posted <%= time_ago_in_words(post.created_at) %> ago</small>
                  <% end %>
                </div>
                <div class="col-md-1 col-12 mt-2 mb-3 px-3 justify-content-end post-follow-button">
                  <% if current_user != post.user %>
                    <% if current_user.following?(post.user) %>
                      <%= link_to 'Unfollow', unfollow_member_path(post.user), method: :delete, class: 'btn btn-outline-danger btn-sm fw-bold', style: "text-decoration:none;" %>
                    <% else %>
                      <%= link_to 'Follow', follow_member_path(post.user), method: :post, class: "btn btn-outline-primary btn-sm fw-bold", style: 'text-decoration:none;' %>
                    <% end %>
                  <% end %>
                </div>
                <div class="col-md-1 col-12 mt-1 mb-3 px-3 d-grid justify-content-end post-more-options">
                  <div class="dropdown">
                    <a href="#" class="text-decoration-none text-reset" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa-solid fa-ellipsis fa-xl mt-3"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <% if current_user == post.user %> 
                        <li><%= link_to 'Delete', post_path(post), data: { turbo_method: :delete, turbo_confirm: "Are You Sure to delete ?" }, class: "dropdown-item" %></li>
                        <li><%= link_to 'Edit', edit_post_path(post), data: { controller: 'bs-modal-form' }, class: "dropdown-item" %></li>
                      <% end %>
                      <li><%= link_to 'View', post_path(post), class: 'dropdown-item' %></li>
                      <li>
                        <button
                          data-controller="copy-url"
                          data-copy-url-target="copyButton"
                          data-copy-url-post-id="<%= post.id %>"
                          data-action="click->copy-url#copyUrl"
                          class="dropdown-item"
                        >
                          Copy URL
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-1 col-12 mt-2 mb-3 px-3 d-grid justify-content-end" data-controller="hide-post" data-hide-post-post-id="<%= post.id %>">
                  <%= link_to hide_post_path(post), method: :post, class: 'hide-post', title: 'hide-post', data: { action: "click->hide-post#hidePost" } do  %>
                    <i class="fa-solid fa-xmark"></i>
                  <% end %>  
                  <div class="hide-dialog" data-hide-post-target="dialog">
                    <p>Post removed from your feed</p>
                    <p>Your feedback helps improve the feed.</p>
                    <%= link_to undo_hide_post_path(post), method: :post, class:"undo-hide-post", title: 'undo-post', data: { action: "click->hide-post#undoHidePost", hide_post_target: "undoButton" } do %>
                      <i class="fa-solid fa-rotate-left"></i>
                    <% end %>
                  </div>                
                </div>
              </div>
            </div>
            <div class="user-info mt-2" data-controller="user-name">
              <%= link_to post_path(post), style: 'text-decoration:none; color: black;' do %>
                <h5 data-user-name-target='name'><%= post.title %> </h5>
                <div data-controller="show-more">
                  <div data-show-more-target="description">
                    <p><%= simple_format(post.description) %></p>
                  </div>
              <% end %>
                  <div class="row">
                     <div class="col-lg-12 d-flex justify-content-end">
                        <button 
                          data-action="click->show-more#toggleVisibility" 
                          data-show-more-target="toggleButton" 
                          class="btn btn-outline-light text-primary btn-sm mb-3 mt-3">
                          Show More
                        </button>
                     </div>
                  </div>
                  <div class="col-lg-12 mb-1 d-flex justify-content-end">
                    <% if (@post_comment_counts[post.id] || 0) > 0 %>
                      <%= link_to post_path(post), style: "text-decoration:none;" do %>
                        <%= pluralize(@post_comment_counts[post.id], "Comment") %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
            </div>
            <div>
              <%= link_to post_path(post) do %>
                <% if post.images.attached? %>
                  <% post.images.each do |image| %>
                    <% if image.content_type.include?("image") %>
                      <a href="<%= rails_blob_path(image) %>" class="post_images me-2 mb-3 mt-3" data-turbolinks="false" data-mfp-title="<%= post.title %>">
                        <%= image_tag image, style: 'width: 370px; height: 280px; max-width: 100%;', class: 'mt-2 mb-2 border border-1' %>
                      </a>
                    <% else %>
                      <div class="bg-dark text-center">
                        <%= video_tag rails_blob_path(image), autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video", controls: true, type: 'video/mp4', style: "max-width: 100%; height: 320px;" do %>
                          Your browser does not support the video tag.
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <!-- for display the names of users who liked & repost a post and show the count of remaining users into the modal popup -->
            <%= render 'home/like_and_reposts', post: post %>

            <div class="row mt-3">
              <div class="col-lg-1 col-md-2 col-3">
                <% if user_signed_in? %>
                  <% like = post.likes.find { |like| like.user_id == current_user.id } %>
                  <% if like.nil? %>
                    <%= button_to likes_path, params: { like: { post_id: post.id } }, method: :post, class: "btn btn-light position-absolute mt-2" do %>
                      <i class="fa-solid fa-thumbs-up fa-xl" title="Like"></i>
                    <% end -%>
                  <% else %>
                    <%= button_to like_path(like), params: { like: { post_id: post.id } }, method: :delete, class: "btn btn-light position-absolute mt-2" do %>
                      <i class="fa-solid fa-thumbs-down fa-xl" title="Dislike"></i>
                    <% end -%>
                  <% end -%>
                <% end -%>
                 <% if @post_likes_count[post.id].to_i > 0 %>
                  <span class="position-relative top-0 translate-middle badge rounded-pill bg-danger"><%= @post_likes_count[post.id] %></span>
                <% end %>
              </div>
              <div class="col-lg-1 col-md-2 col-3">
                <%= link_to new_share_path(post_id: post.id), class: "btn btn-light mt-2", data: { controller: "bs-modal-form" } do %>
                    <i class="fa-solid fa-paper-plane" title="Share"></i>
                <% end %>
              </div>
              <div class="col-lg-1 col-md-2 col-3">
                <div class="dropdown">
                  <button class="btn btn-light mt-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-share-from-square" title="Share on Social Media"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                      <a href="https://www.facebook.com/sharer/sharer.php?u=<%= ENV['APP_URL']%><%= post_path(post)%>" target="_blank" class="dropdown-item">Share on Facebook</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="https://twitter.com/intent/tweet?url=<%= ENV['APP_URL']%><%= post_path(post)%>&text=<%= post.title %>" target="_blank">Share on Twitter</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-1 col-md-2 col-3">
                <% if user_signed_in? %>
                  <% if current_user.has_reposted?(post) %>
                    <%= link_to [post, current_user.repost_for(post)], method: :delete, class: 'btn btn-light mt-2', title: "Remove Repost" do %>
                      <i class="fa-solid fa-repeat"></i>
                    <% end %>
                  <% else %>
                    <%= link_to post_reposts_path(post), method: :post, class: 'btn btn-light mt-2', title: "Repost" do %>
                    <i class="fa-solid fa-repeat"></i>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <div class="col-lg-7 col-md-2 col-3">
                <%= render 'posts/show', post: post %>
              </div>
            </div>
          </div>
          </div>
      <% end %>
    <% end %>
  <% else %>
    <p class="border border-1 rounded p-2">No group post is available</p>
  <% end %>
</div>


<!-- using style for post section -->
<style>
  .image-container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
  .image-container img {
    width: 100%;
    height: auto;
    display: block;
  }
  .user-image{
    width: 70px;
    overflow: hidden;
    margin-top: 15px;
  }
  .post-info {
    padding: 10px;
    margin-bottom: 15px;
  }

  .post-user-image img {
    width: 60px;
  }

  .post-user-details {
    padding-left: 10px;
  }

  .post-user-name {
    font-size: 18px;
  }

  .post-user-title {
    font-size: 14px;
  }

  .post-time-ago {
    font-size: 12px;
  }

  .post-follow-button {
    display: flex;
    align-items: center;
  }

  .post-more-options {
    display: flex;
    align-items: center;
  }

  .hide-post {
    display: flex;
    align-items: center;
  }

  .hide-dialog {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }

</style>


<script>
  $(document).ready(function() {
  $('.post_images').magnificPopup({
    type: 'image',
    gallery: {
      enabled: true
    },
    mainClass: 'mfp-with-zoom',
      zoom: {
        enabled: true,
        duration: 300,
        easing: 'ease-in-out'
      }
  });
});
</script>