<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <%= link_to "Dev Community", root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li>
            <%#= link_to 'My Profile', member_path(current_user), class:'nav-link active'%>  
          </li>
          <li>
            <%= link_to 'My Network', connections_path, class:'nav-link active'%>  
          </li>
          <li>
            <%= link_to 'Messages', messages_path, class:'nav-link active'%>  
          </li>
          <li>
            <%= link_to 'Job', jobs_path, class:'nav-link active'%>  
          </li>
          <li>
            <%= link_to "Shared Posts", shares_path, class:'nav-link active' %>
          </li>
          <li>
            <%= link_to "Events", events_path, class: 'nav-link active' %>
          </li>
          <li>
            <%= link_to "Hidden Posts", hidden_posts_path, class: "nav-link active" %>
          </li>
          <li>
            <%= link_to "Pages", pages_path, class: 'nav-link active'  %>
          </li>
          <li>
            <%= link_to "Articles", articles_path, class: 'nav-link active'  %>
          </li>
          <li>
            <%= link_to notifications_path, class: "btn btn-primary mt-1 position-relative" do %>
                <i class="fa-solid fa-bell fa-lg"></i>
                <% if current_user.unviewed_notifications_count > 0 %>
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    <%= current_user.unviewed_notifications_count > 0 ? current_user.unviewed_notifications_count : '0' %>
                    <span class="visually-hidden">unread messages</span>
                  </span>
               <% end %>   
            <% end %>
          </li>
          <li>
            <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are You Sure to Sign Out ?' }, class: 'nav-link active' %>
          </li>
        <% end %>  
      </ul>
      <% if user_signed_in? %>
       <div class="d-flex justify-content-end col-lg-3" >
        <%= render partial: "search/form", locals: { results: [] } %>
      </div>
      <% end %>
    </div>    
  </div>
</nav>