<%= form_with model: @work_experience do |form| %>
  <div class="modal-body">
    <div class="row">
      <% if @work_experience.errors.any? %>
        <div class="error-area" style="color:red;">
          <h3><%= pluralize(@work_experience.errors.count, 'error') %> prohibited your work experience frm being saved.</h3>
          <ul>
            <% @work_experience.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="col-lg-12">
        <div class="form-group">
          <label class="mb-2 mt-3">
            Title
            <span class="text-danger">*</span>
          </label>
          <%= form.text_field :job_title, class: "form-control" %>
        </div>

        <div class="form-group">
          <label class="mb-2 mt-3">
            Company
            <span class="text-danger">*</span>
          </label>
          <%= form.text_field :company, class: "form-control" %>
        </div>

        <div class="form-group">
          <label class="mb-2 mt-3">
            Employment Type
            <span class="text-danger">*</span>
          </label>
          <%= form.select :employment_type, options_for_select(WorkExperience::EMPLOYMENT_TYPE, selected: form.object.employment_type), {prompt: 'Select employment type'}, { class: "form-select" } %>
        </div>

        <div class="form-group">
          <label class="mb-2 mt-3">
            Location
            <span class="text-danger">*</span>
          </label>
          <%= form.text_field :location, class: "form-control" %>
        </div>

        <div class="form-group">
          <label class="mb-2 mt-3">
            Location Type
            <span class="text-danger">*</span>
          </label>
          <%= form.select :location_type, options_for_select(WorkExperience::LOCATION_TYPE, selected: form.object.location_type), {prompt: 'Select location type'}, { class: "form-select" } %>
        </div>

        <div class="form-group row">
          <div class="col-lg-12 mt-3">
            <div class="form-check form-switch">
              <%= form.check_box :currently_working_here, class: "form-check-input", role: "switch", data: { controller: "disable-end-date" } %>
              <label class="form-check-label" for="work_experience_currently_working_here">I am currently working here</label>
            </div>
          </div>
          <div class="col-lg-6">
            <label class="mb-2 mt-3">
              Start Date
              <span class="text-danger">*</span>
            </label>
            <%= form.date_field :start_date, class: "form-control" %>
          </div>
          <div class="col-lg-6">
            <label class="mb-2 mt-3">
              End Date
              <span class="text-danger">*</span>
            </label>
            <%= form.date_field :end_date, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <label class="mb-2 mt-3">Description</label>
          <%= form.text_area :description, class: "form-control", rows: 5 %>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <%= form.submit 'Save Changes', class: 'btn btn-primary', data: { action: 'click->bs-modal#submitEnd' } %>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
<% end %>
