<!DOCTYPE html>
<html>
  <head>
    <title>DevCommunity</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= javascript_importmap_tags %>

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
    
    <script src=" https://cdn.jsdelivr.net/npm/magnific-popup@1.1.0/dist/jquery.magnific-popup.min.js "></script>

    <link href=" https://cdn.jsdelivr.net/npm/magnific-popup@1.1.0/dist/magnific-popup.min.css " rel="stylesheet">
  </head>

  <body>
    <% devise_mapping = request.env['devise.mapping'] %>
    <% if user_signed_in? %>
      <%= turbo_stream_from dom_id(current_user, :broadcast_to) %>
    <% end %>
   <div class="container-fluid">
     <div class="row">
       <div class="col-lg-10 mx-auto">
          <%= render partial: 'shared/header' %>
          <%= render 'shared/flash' %>
       </div>
      <%= yield %>
      <%= turbo_frame_tag 'remote_modal' %>
      <div class="col-lg-10 mx-auto">
          <%= render 'shared/footer' %>
       </div>
     </div>
   </div>
  </body>
</html>
